@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');


.header{
    background-image: url("photo-1644982647531-daff2c7383f3.webp");

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
    overflow: hidden;
    z-index: -1;
}
.navbar{
    font-family: 'Ubuntu', sans-serif;
}
.navbar-brand{
    font-size: 35px;
    font-weight: 600;
  
}
.navbar-brand,.nav-link{
    color: white;
}
.nav-link{
    font-size: 18px;
    font-weight: 500;
   
}
.icon-menu{
    color: white;
    font-size: 2rem;
}


.section-hero{
    margin-top: 6rem;
    margin-left: 3rem;
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden;
}


 .text-1{
    font-size: 1.4rem;
}
 .text-2{
    font-size: 2.6rem;
    font-weight: 500;
    margin-left: -3px;
}
.text-3{
    font-size: 1.2rem;
    margin: 3px 0;
}
 
.typing{
     color: crimson;

 }
 .about-section{
    font-family: 'Poppins', sans-serif;
 }
 .about-section-text{
     font-size: 25px;
     font-weight: 600;
     margin-bottom: 10px;

 }

.img-about-section{
    width: 100%;
    height: 70%;
}
.color-crimson{
    font-size: 20px;
    color: crimson;
}
.about-title{
    font-size: 40px;
    font-weight: 500;
    
   
    font-family: 'Ubuntu', sans-serif;
}
/* ------------------------------------------- */

.services{
    color:#fff;
    background: #111;
    margin-top: 1rem;
}

 .card{
    /* width: calc(33% - 20px); */
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 32%;
}
.card:hover{
    background: crimson;
}
 .box{
    transition: all 0.3s ease;
    
}
 .card:hover .box{
    transform: scale(1.05);
}
 .card i{
    font-size: 50px;
    color: crimson;
    transition: color 0.3s ease;
 }
    .card:hover i{
    color: #fff;
}
 .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.row-container{
    padding: 81px;
    gap: 15px;
}

/* ---------------contact me---------------- */

.contact{
    margin-top: 1rem;
}
.rowx i{
    color: crimson;
    font-size: 25px;
}
.gettouch{
    font-size: 20px;
    font-weight: 600;
}
.head{
    font-weight: 500;

}
.sub-title{
    color: #333;
}

.font-500{
    font-weight: 500;
}

/* -------------footer------------- */
footer{
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
    margin-top: 1rem;
}
footer span{
    color: white;
}
footer span a{
    color: crimson;
}
footer span a:hover{
    text-decoration: underline;
    color: white;
}
