
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

span{
    color: crimson;
    font-weight: 500;
}
.btn-display{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    padding: 9px 25px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
    text-decoration: none;
 }
 .btn-display:hover{
    color: crimson;
    background: none;
}
 